body {
	font-size: 16px;
}

.run-button-container {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 100%;
	margin-top: 3rem;
}

.run-button-container button {
	padding: 1rem 2rem;
	border-radius: 10px;
	font-weight: bold;
	font-size: 18px;

	background: #fff176;
	color: #c67c00;
	border: 3px solid #c67c00;
}

.run-button-container.success button {
	background: #5efc82;
	color: #009624;
	border: 3px solid #009624;
}

.run-button-container.error button {
	background: #ff5131;
	color: #9b0000;
	border: 3px solid #9b0000;
}

.run-button-container:not(.in-progress) .spinner {
	display: none;
}

.spinner {
	display: inline-block;
	margin-left: 1rem;
}

.spinner > div {
	width: 18px;
	height: 18px;
	background-color: #c67c00;

	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%,
	80%,
	100% {
		-webkit-transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1);
	}
}

@keyframes sk-bouncedelay {
	0%,
	80%,
	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
